nav {
    height: 60px;
    background-color: #338F79;
    margin: -8px -8px;
    padding-top: 10px;
    position: sticky;
}

nav ul{
    font-size: 16px;
    font-weight: 550;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    list-style: none;
}

nav li {
    color: black;
    display: inline-block;
    margin: 0 10px;
}

li:active {
    color: white;
    text-decoration: underline;
}
li:hover {
    color: rgb(255, 255, 255);
}

section{
    height: 800px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

h1{
    text-align: center;
}

#photo-me {
    display: block;
    margin: 20px auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

footer {
    color: rgb(255, 255, 255);
    background-color: #338F79;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -8px;
    padding: 50px;
}

.address {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto 10px;
    align-content: center;
    justify-content: center;
}

.content {
    padding: 10px 40px;
    flex-shrink: 1;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    border-radius: 8px;
    margin: 10px 30px;
    background-color: rgba(255, 255, 255, 0.342);
}
.content a {
    text-decoration: none;
    color: #000000;
}

a:active {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: rgb(255, 255, 255);
}

h2 {
    text-align: center;
}

span {
    display: block;
    padding: 4px;
}

label {
    display: inline-block;
}

#email, #phone-no {
    display: inline-block;
}

.footer-img {
    height: 100px;
    width: 100px;
    border-radius: 360px;
    margin: 10px;
}

#contact-img{
    margin: 0 10px;
    width: 25px;
    height: 100%;
}



#testimonials {
  background: #f5f0f0;

}

.testimonials {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    flex-shrink: 1;
    padding: 15px;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
  
  }

.testimonial-drafts {
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    height: auto;
    margin: auto;
}

.first-testimonial {
  color: #000000;
  font: 400 16px "Inika", sans-serif;
  width: auto;
  height: auto;
  margin: 30px;
  padding: 15px 20px;
  flex-shrink: 1;
  border-radius: 8px;
  background-color: rgba(172, 172, 172, 0.616);
}
/* .heart-icon {
  position: absolute;
  left: 190px;
  top: 359px;
  overflow: visible;
} */

.random_quote {
  text-align: center;
  font: 400 18px "Inika", sans-serif;
  width: 302px;
  height: 273px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.qualifications {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  flex-basis: 200;
  align-items:flex-start;
}

.quali-container {
  background: rgba(190, 188, 188, 0.63);
  border-radius: 8px;
  margin: 10px auto;
  width: 200px;
  height: 282px;
}

h3 {
  color: rgba(3, 117, 90, 0.81);
  text-align: center;
  font: 700 18px "Inika", sans-serif;
}

.accomplishments {
  max-width: 50%;
  color: #000000;
  text-align: center;
  margin: 10px auto;
  font: 700 18px "Inika", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
